/**
 * Base application styles.
 */
.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #282c34;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #eeeeee;
  text-decoration: underline;
}
input:focus, button:focus {
  outline: none;
}
